/* .page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-synthesis: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
} */
.page {
  /* margin-top: 40px; */
}

.main {
  display: inline-flex;
  padding: 0px 0px 10px 20px;
  align-items: center;
  gap: 17px;
  color: #0a3b61;
  text-align: center;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.table {
  background: #fcfcfc;
  box-shadow:
    0px 8px 12px 0px rgba(15, 26, 46, 0.15),
    0px 0px 4px 0px rgba(15, 26, 46, 0.15);
  padding: 20px;
}