@tailwind base;
@tailwind components;
@tailwind utilities;

@use 'devextreme/dist/css/dx.material.blue.light.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dx-datagrid-headers {
  color: #0f69af !important;
}

.dx-button-text {
  text-transform: unset !important;
  color: #0f69af !important;
}
