@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;


  --themeGreyColor: #8B8B9C;
  --themeBlueColor: #0F69AF;
  --themeYellowColor: #A5CD50;
  --themelightGreyColor: #ECECF4;
  --themeDarkGreyColor: #838393;
  --themeSilverGreyColor: #F8F8FC;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}