.dx-form {
  .dx-item-content {
    display: block !important;
    min-width: 100% !important;
  }

  .dx-field-item-label {
    padding: 0 !important;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  .dx-field-item-label-text {
    color: #000 !important;
  }

  .dx-radiobutton {
    display: flex !important;
  }
}

input {
  background-color: #fff !important;
  border: 1px solid #c7c7d1 !important;
  color: #c7c7d1 !important;
  font-family: Lato !important;
  font-size: 0.875rem !important;
  font-style: normal;
  font-weight: 400;
}

.dx-layout-manager .dx-field-item:not(.dx-first-col) {
  padding-inline-start: 0 !important;
}

.dx-layout-manager .dx-field-item:not(.dx-last-col) {
  padding-inline-end: 0 !important;
}

.dx-texteditor.dx-editor-filled:after {
  border-bottom: none !important;
}

.dx-texteditor-input-container {
  width: 194px;
  height: 40px;
}

.dx-searchbox.dx-editor-filled .dx-placeholder:before,
.dx-searchbox.dx-editor-filled .dx-texteditor-input,
.dx-searchbox.dx-editor-outlined .dx-placeholder:before,
.dx-searchbox.dx-editor-outlined .dx-texteditor-input {
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0 !important;
  padding: 5px 0 5px 45px !important;
}

.dx-searchbox.dx-editor-filled .dx-icon-search,
.dx-searchbox.dx-editor-outlined .dx-icon-search {
  width: 24px !important;
  height: 24px !important;
}

.dx-collection {
  display: flex !important;
}

.dx-collection .dx-radiobutton:not(:first-child) {
  padding-inline-start: 2rem !important;
}

.dx-datagrid-headers {
  color: #0f69af !important;
  text-align: left;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btnform {
  .dx-button {
    height: 2.3125rem;
    padding: 0.5rem;
    gap: 0.625rem;
    flex-shrink: 0;
    border: 1px solid #0f69af;
    background-color: #0f69af !important;
  }
  .dx-button-text {
    color: #fff;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: unset !important;
  }
}

.dx-toolbar:last-child {
  display: none !important;
}
