.dx-form {
  .dx-item-content {
    display: block !important;
    min-width: 100% !important;
  }

  .dx-field-item-label {
    padding: 0 !important;
    font-family: Lato;
  }

  .dx-field-item-label-text {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .dx-radiobutton {
    display: flex !important;
  }
}

.dx-datagrid-header-panel {
  padding: 0;
}

.dx-texteditor-container {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #c7c7d1;
  color: #c7c7d1;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dx-layout-manager .dx-field-item:not(.dx-first-col) {
  padding-inline-start: 0 !important;
}

.dx-layout-manager .dx-field-item:not(.dx-last-col) {
  padding-inline-end: 0 !important;
}

.dx-texteditor.dx-editor-filled:after {
  border-bottom: none !important;
}

.dx-texteditor-input-container {
  width: 194px;
  height: 40px;
}

.dx-searchbox.dx-editor-filled .dx-placeholder:before,
.dx-searchbox.dx-editor-filled .dx-texteditor-input,
.dx-searchbox.dx-editor-outlined .dx-placeholder:before,
.dx-searchbox.dx-editor-outlined .dx-texteditor-input {
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0 !important;
  padding: 5px 0 5px 45px !important;
}

.dx-searchbox.dx-editor-filled .dx-icon-search,
.dx-searchbox.dx-editor-outlined .dx-icon-search {
  width: 24px !important;
  height: 24px !important;
}

.dx-collection {
  display: flex !important;
}

.dx-collection .dx-radiobutton:not(:first-child) {
  padding-inline-start: 2rem !important;
}

.dx-datagrid-headers {
  align-items: center;

  .dx-datagrid-text-content {
    color: #0f69af;
    font-family: Lato;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
  }
}

.btnform {
  .dx-button {
    display: inline-flex;
    height: 37px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0f69af;
    background: #0f69af;
  }
  .dx-button-text {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: unset !important;
  }
}

.button_form_seconday {
  .dx-button {
    background: #ecf5fc !important;
    color: #50a0de !important;
  }
  .dx-button-text {
    font-family: Lato;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: unset !important;
  }
}

.btn_secondary {
  background: #ecf5fc !important;
  color: #50a0de !important;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;

  .dx-button-text {
    font-weight: 700;
    line-height: normal;
    text-transform: unset !important;
  }
}

.btn_primary {
  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border: 1px solid #0f69af;
  background-color: #0f69af !important;

  .dx-button-text {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: unset !important;
  }
}

.btn_primary.dx-state-disabled {
  border: 1px solid #c7c7d1 !important;
  background-color: #fff !important;

  .dx-button-text {
    color: #e1e1ea;
    font-weight: 400;
  }
}

.edit-popup {
  z-index: 100 !important;
  .dx-toolbar:last-child {
    display: none !important;
  }
  .dx-popup-content {
    padding: 0;
  }
}

.create-popup {
  .dx-toolbar-item-content {
    color: #0a3b61;
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 150% */
  }
  /* .dx-icon-close {
    width: 28px;
    height: 28px;
  } */
}

.delete-popup {
  .dx-popup-content {
    padding: 0 34px 34px;
  }
  .dx-button {
    margin: 0 8px 0 0;
  }
  .dx-toolbar-items-container {
    height: 40px;
  }
  .dx-texteditor-container {
    width: 99px;
  }
  .dx-texteditor.dx-editor-filled {
    background-color: transparent;
  }
  .dx-placeholder::before {
    padding: 8px !important;
  }
  .dx-state-focused::before {
    border-bottom: none;
  }
  .title {
    color: #000;
    font-family: var(--font-openSans);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
  }
  p {
    margin-bottom: 11px;
  }
  p,
  .dx-texteditor-input {
    color: #000;
    font-family: var(--font-openSans);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .dx-texteditor-input {
    display: flex;
    padding: 8px !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .dx-popup-title {
    border-bottom: none;
    padding: 0 34px;
    min-height: 0;
  }
}

.textarea-custom {
  .dx-texteditor-input {
    overflow: hidden;
  }
}

.dx-icon-edit {
  width: 24px;
  height: 24px;
  color: #0f69af;
}
