.dx-form {
  .dx-field-item-label {
    padding: 0;
    font-family: Lato;
  }

  .dx-field-item-label-text {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.dx-datagrid-header-panel {
  padding: 0;
}

.dx-texteditor-container {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #c7c7d1;
  color: #c7c7d1;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dx-layout-manager .dx-field-item:not(.dx-first-col) {
  padding-inline-start: 0;
}

.dx-layout-manager .dx-field-item:not(.dx-last-col) {
  padding-inline-end: 0;
}

.dx-texteditor.dx-editor-filled:after {
  border-bottom: none;
}

.dx-texteditor.dx-editor-filled .dx-placeholder:before,
.dx-texteditor.dx-editor-filled .dx-texteditor-input {
  padding: 10px;
}

.dx-texteditor-input-container {
  width: 194px;
  height: 40px;
}

.dx-searchbox {
  .dx-texteditor-container {
    border-radius: 0;
  }
}

.dx-searchbox.dx-editor-filled .dx-placeholder:before,
.dx-searchbox.dx-editor-filled .dx-texteditor-input,
.dx-searchbox.dx-editor-outlined .dx-placeholder:before,
.dx-searchbox.dx-editor-outlined .dx-texteditor-input,
.dx-placeholder::before {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  padding: 5px 0 5px 45px;
}

.dx-searchbox.dx-editor-filled .dx-icon-search,
.dx-searchbox.dx-editor-outlined .dx-icon-search {
  width: 24px;
  height: 24px;
}

.dx-collection {
  display: flex;
}

.dx-collection .dx-radiobutton:not(:first-child) {
  padding-inline-start: 2rem;
}

.dx-datagrid-headers {
  align-items: center;

  .dx-datagrid-text-content {
    color: #0f69af;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.btnform {
  .dx-button {
    display: inline-flex;
    height: 37px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0f69af;
    background: #0f69af;
    border-radius: 0;
    height: 37px;
    padding: 8px;
    align-items: center;
    gap: 10px;
  }

  .dx-button-text {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: unset;
  }
}

.button_form_seconday {
  .dx-button {
    background: #ecf5fc;
    color: #50a0de;
  }

  .dx-button-text {
    font-family: Lato;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: unset;
  }
}

.btn_secondary {
  background: #ecf5fc;
  color: #50a0de;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: unset;
  height: 37px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .dx-button-text {
    font-weight: 700;
    line-height: normal;
    text-transform: unset;
  }
}

.dx-form-validation-summary {
  display: block;
}

.btn_primary {
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border: 1px solid #0f69af;
  background-color: #0f69af;
  border-radius: 0;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: unset;

  .dx-button-text {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: unset;
  }
}

.btn-toolbar {
  height: 40px;
}

.dx-state-disabled {
  border: 1px solid #c7c7d1;
  background-color: #fff;

  .dx-button-text {
    color: #e1e1ea;
    font-weight: 400;
  }
}

.edit-popup {
  z-index: 100 !important;

  .dx-toolbar:last-child {
    display: none;
  }

  .dx-popup-content {
    padding: 0;
  }
}

.create-popup {
  .dx-popup-normal {
    background: #ECECF4;
    box-shadow: -18px 0px 18px 0px rgba(0, 0, 0, 0.25);
  }

  .dx-popup-title {
    border-bottom: 0;
  }

  .dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align) {
    padding-top: 10px;
  }

  .dx-toolbar-item-content {
    color: #0a3b61;
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
}

.delete-popup {
  .dx-popup-content {
    padding: 0 34px 34px;
  }

  .dx-button {
    margin: 0 8px 0 0;
  }

  .dx-toolbar-items-container {
    height: 40px;
  }

  .dx-texteditor-container {
    width: 99px;
  }

  .dx-texteditor.dx-editor-filled {
    background-color: transparent;
  }

  .dx-placeholder::before {
    padding: 8px !important;
  }

  .dx-state-focused::before {
    border-bottom: none;
  }

  .title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
  }

  p {
    margin-bottom: 11px;
  }

  p,
  .dx-texteditor-input {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .dx-texteditor-input {
    display: flex;
    padding: 8px !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .dx-popup-title {
    border-bottom: none;
    padding: 0 34px;
    min-height: 0;
  }
}

.textarea-custom {
  .dx-texteditor-input {
    overflow: hidden;
  }
}

.dx-icon-edit {
  width: 24px;
  height: 24px;
  color: #0f69af;
}

.dx-button-mode-contained {
  box-shadow: none;
}

.buttons-group {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .dx-item-content {
    display: inline;
  }

  .dx-field-item-content {
    width: 100%;
  }
}

.buttons-group .dx-item-content {
  gap: 10px;
}

.buttons-group .dx-item-content:last-child {
  flex: 0;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  justify-content: flex-end;
}

.form-button-group {
  display: flex;
  flex-direction: row;
}

.form-button-container .dx-button {
  flex: 1;
}

.editForm {
  label {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.dx-datagrid .dx-row>td {
  padding: 8px;
  align-items: center;
  gap: 7.5px;
}

.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: #0f69af;
}

.dx-toolbar-after .dx-toolbar-item {
  padding: 0;
}